$pg-tooltip-background: #484848;

.tooltip{

	$_trns: 125ms ease-out;

	position: absolute;
	top:-9999px;
	left:-9999px;
	opacity:0;
	padding: 0 12px;
	margin: -12px 0 0 6px ;
	border-radius: 5px;
	border: 1px solid #323232;
	background-color: rgba($pg-tooltip-background, 0.95);
	transform: scale(0.925,0.925);
	transition: opacity $_trns, transform $_trns;
	&, *{ white-space: nowrap; }

	&.showing{

		opacity:0.95;
		transform: scale(1,1);

	}

}
