body{

	padding: 32px;
	font-family: Verdana;
	font-size: 14px;
	line-height: 32px;
	color: floralwhite;
	background-color: cadetblue;
}

article{
	width: 100%;
	text-align: center;
}

$showingOpacity: 0.95;
$tooltipBG: #484848;

.trigger{

	$_size: 50px;

	width: $_size;
	height: $_size;
	border-radius: $_size;

	background-color: red;

}

.tooltip{

	$_trns: 175ms ease-out;

	position: absolute;
	top:-9999px;
	left:-9999px;
	opacity:0;
	padding: 0 10px;
	border-radius: 4px;
	background-color: $tooltipBG;
	transform: scale(0.925,0.925);
	transition: opacity $_trns, transform $_trns;

	&.showing{

		opacity:$showingOpacity;
		transform: scale(1,1);

	}

}
