body {
  padding: 32px;
  font-family: Verdana;
  font-size: 14px;
  line-height: 32px;
  color: floralwhite;
  background-color: cadetblue; }

article {
  width: 100%;
  text-align: center; }

.trigger {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red; }

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 0 10px;
  border-radius: 4px;
  background-color: #484848;
  transition: opacity 175ms ease-out; }
  .tooltip.showing {
    opacity: 0.95; }
